button.nav-link active {
  background-color: red !important;
  color: pink !important;
}
.nav-pills > .nav-link > .active,
.nav-pills > .show > .nav-link {
  background-color: black !important;
}

#pills-tab nav-link active {
  background-color: red !important;
}

.nav-link {
  color: green;
}

.nav-item > a:hover {
  color: green;
}

/*code to change background color*/
.nav-link > .active > a {
  background-color: #c0c0c0;
  color: green;
}

.pills-tab .active {
  color: red !important;
}
