html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
  scroll-behavior: smooth;
  scrollbar-color: #ff5d73 white; /* thumb and track color */
  scrollbar-width: thin;
}

body {
  padding: 0 10vw;
}

.sectionTitle {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 48px;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffecee;
  border-right: 6px white solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5d73;
}

.accentColor {
  color: #ff5d73;
}
